/* 
.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: auto;
    line-height: 1.65;
    padding: 20px 50px;
    min-height: 400px;
}

.filter-container{
}

.graph-container{
    max-width: 400px;
    max-height: 400px;
}

.comments-container{
}

@media (min-width: 1000px) {
    .column-layout {
        display: flex;

    }
} */