<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script> 
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>My First Dashboard</title>
    </head>
    <body>
            <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Влиятельность</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/activity">Активность</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/interactions">Взаимодействие</a>
                    </li>
                </ul>

        <div class="container">
            <div class="row">
                <div class="col-lg-0">
                    <!-- filters -->
                    <div id="filter-container">
                    </div>
                </div>

                <!-- СДЕЛАТЬ Scatterplot между  -->
                <div class="col-lg-12">
                    <div id="table_sort">
                        <select id="sort_activity_stats_table" style="width: 300px" class="form-control-sm">
                            <option value="None">Сортировать по:</option>
                            <option value="all_mess">Всего сообщений</option>
                            <option value="off_time">Во внерабочее время</option>
                            <option value="weekends">На выходных</option>
                            <option value="mean">В среднем за сутки</option>
                        </select>
                    </div>
                    <div id='place_for_table'>
                    </div>
                    <div id="filter-container">
                        <select id="filter_activity_plots_by_email" style="width: 300px" class="form-control-sm">
                            <option value="">Выберите email</option>
                        </select>
                    </div>
                    <div class="chart" id="activity_plots">
                    </div>
                    <script>
                        var chart_cont = document.getElementById('activity_plots');
                        var layout_for_activity_plots = {
                        autosize: true
                        };
                        var activity_stats = {{table_with_stats | safe}}
                        Plotly.newPlot('place_for_table', activity_stats,layout_for_activity_plots);

                        var data = {{activity_by_day | safe}}
                        Plotly.newPlot('activity_plots', data,layout_for_activity_plots);

                        window.onresize = function() {
                            Plotly.Plots.resize('activity_plots');
                            Plotly.Plots.resize('place_for_table');
                            console.log(document.getElementById('activity_plots').offsetWidth)
                            };
                    </script>
                </div>
            </div>
        </div>

        <script>
            document.getElementById('sort_activity_stats_table').addEventListener('change', function() {
                var sort_param = document.getElementById('sort_activity_stats_table').value;
                if (sort_param != 'None') {
                    xhr = new XMLHttpRequest();
                    xhr.open('GET',`/update_activity?sort_param=${sort_param}`, true);
                    xhr.onload = function(){
                        Plotly.newPlot('place_for_table', JSON.parse(this.responseText), {displayModeBar: false});
                    };
                    xhr.send();
                }
            });
            $('#filter_activity_plots_by_email').select2()
            window.onload = function(e) {
                xhr = new XMLHttpRequest();
                xhr.open('GET', '/heatmap/users', true);
                xhr.onload = function(){
                    var names = JSON.parse(xhr.responseText);
                    names.forEach(function(each){
                        var node = document.createElement("option");
                        var textnode = document.createTextNode(each);
                        node.appendChild(textnode);
                        node.value = each;
                        document.getElementById("filter_activity_plots_by_email").appendChild(node)
                    })
                }
                xhr.send();
            }
            $("#filter_activity_plots_by_email").on('change', function(){
                var selected = $("#filter_activity_plots_by_email").val()
                xhr = new XMLHttpRequest();
                xhr.open('GET',`/update_activity?email=${JSON.stringify(selected)}`, true);
                xhr.onload = function(){
                    Plotly.newPlot('activity_plots', JSON.parse(xhr.responseText));
                }
                xhr.send();
            });


            $("#filter_by_email").on("select2:select", function (e) { 
                var email = $(e.currentTarget).val();
                xhr = new XMLHttpRequest();
                xhr.open('GET',`/update_activity?email=${email}`, true);
                xhr.onload = function(){
                    Plotly.newPlot('p2p', JSON.parse(this.responseText), {displayModeBar: false});
                    //console.log(this.responseText);
                };
                xhr.send();
                });

            $("#filter_by_email").select2( {
                width: 'resolve',
                placeholder: "Выберите email",
                allowClear: true
                } );

            $("#filter_by_email").on("select2:select", function (e) { 
                var email = $(e.currentTarget).val();
                xhr = new XMLHttpRequest();
                xhr.open('GET',`/update_activity?email=${email}`, true);
                xhr.onload = function(){
                    Plotly.newPlot('p2p', JSON.parse(this.responseText), {displayModeBar: false});
                    //console.log(this.responseText);
                };
                xhr.send();
                });


            $('#centrality_boxplot').on('change',function(){
                $.ajax({
                    url: "/update_timelines",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        'selected': document.getElementById('centrality_boxplot').value
                    },
                    dataType:"json",
                    success: function (data) {
                        Plotly.newPlot('cent', data, {displayModeBar: false});
                    }
                });
            })

            $('#centrality_boxplot').on('change',function(){
                $.ajax({
                    url: "/update_timelines",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        'selected': document.getElementById('centrality_boxplot').value
                    },
                    dataType:"json",
                    success: function (data) {
                        Plotly.newPlot('bargraph', data, {displayModeBar: false});
                    }
                });

                $.ajax({
                    url: "/update_p2p",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        'selected': document.getElementById('first_cat').value
                    },
                    dataType:"json",
                    success: function (data) {
                        Plotly.newPlot('p2p', data, {displayModeBar: false});
                    }
                });
            })        
        </script>
        <!-- <script src="{{ url_for('static', filename='js/plots.js') }}"></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>